.paymentbox{
    width : 900px;
    height: 700px;
    justify-content: center;
    margin-left: 500px;
    border: 1px solid;
}
.productdetails{
    margin-left:100px;
}
.payment{
    width : 350px;
    border: 1px solid;
    float: right;
}
.days{
    width:200px;
}
.product_list3{
    width: 450px;
    height:auto;
    float: left;
    padding: 20px;
    margin-left: 50px;
    background-color: rgba(255, 228, 196, 0.308);
    border: radius 15px;
    border-radius: 20px;
    align-items: center;

}
.daysremaininglabel{
    color:red;
}